<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            color: white;
        }

        body {
            overflow-x: hidden;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(5, 250px);
            align-items: center;
            justify-content: center;
            grid-gap: 32px;
            position: relative;
            z-index: 1;
        }

        .card {
            background-color: var(--background-color);
            box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1),
                0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2),
                0 0 0 1px var(--card-border-color);
            padding: 46px 10px 10px 10px;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            transition: box-shadow 0.25s;
        }

        .card .icon {
            z-index: 2;
            position: relative;
            display: table;
            padding: 8px;
        }

        body {
            --background-color: #333339;
            --text-color: #a1a1aa;
            --card-background-color: rgba(255, 255, 255, 0.015);
            --card-border-color: rgba(255, 255, 255, 0.1);
            --card-box-shadow-1: rgba(58, 51, 51, 0.05);
            --card-box-shadow-1-y: 3px;
            --card-box-shadow-1-blur: 6px;
            --card-box-shadow-2: rgba(59, 54, 54, 0.1);
            --card-box-shadow-2-y: 8px;
            --card-box-shadow-2-blur: 15px;
            --card-label-color: #fff;
            --card-icon-color: #d4d4d8;
            --card-icon-background-color: rgba(255, 255, 255, 0.08);
            --card-icon-border-color: rgba(255, 255, 255, 0.12);
            --card-shine-opacity: 0.1;
            --card-line-color: #2a2b2c;
            --card-tile-color: rgba(185, 106, 16, 0.05);
            --blur-opacity: 0.01;
        }
    </style>

    <title>Admin</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %><br><br>
                <h1 class="text-4xl font-semibold text-gray-600" style="text-align: center;">
                    Welcome Admin
                </h1><br><br>
        </div>
        <div class="col-start-2 col-span-3">
            <h2 class="text-3xl font-semibold text-gray-600">Create Sport</h2>
            <form action="/newsport" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="py-3">
                    <label for="Sports_Name" class="text-2xl font-semibold text-gray-600">Enter the sports name you want
                        to add</label>
                    <input class="border border-gray-600 text-gray-900 rounded p-2 w-30" type="text" name="Sports_Name"
                        placeholder="Enter new sport" required>
                </div>
                <div class="py-3">
                    <button class="bg-green-600 text-white px-3 py-1.5 rounded font-medium mr-2"
                        type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
    <h1 class="m-5" style="font-family: sans-serif; color: rgba(21, 21, 20, 0.819); font-size: 3.5vw;">Available
        Sports
    </h1>
    <div class="grid">
        <% sportsItems.forEach(function(user) { %>
            <div class="card">
                <h1 style="color: transparent; font-family: sans-serif;">
                    <%= user.id %>
                </h1>
                <h1 style="color: rgba(216, 205, 205, 0.819); font-family: sans-serif; font-size: 2.2vw;"
                    class="getSportId" id="getNameOfSport" onclick="window.location.href='/SportDetail'">
                    <%= user.Sports_Name %>
                </h1>
                <div class="row">
                    <div class="col-lg-12 my-5 sportsButtonsDiv">
                        <a class="sportsButtons btn btn-danger deleteSport" href=''
                            style="color: transparent; padding-left: 22px;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="26" height="26" fill="currentColor" class="bi bi-trash3-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                            <%= user.id %>
                        </a>
                    </div>
                </div>
            </div>

            <% }); %>
                <script>
                    const redirectAnchors = document.querySelectorAll("h1.getSportId");
                    redirectAnchors.forEach((anchor) => {
                        anchor.addEventListener("click", function (event) {
                            event.preventDefault();
                            const text = this.innerText;
                            const url = "/Sports/" + encodeURIComponent(text);
                            this.setAttribute("href", url);
                            window.location.href = url;
                        });
                    });
                </script>
                <script>
                    const deleteanchors = document.querySelectorAll("a.deleteSport");
                    deleteanchors.forEach((anchor) => {
                        anchor.addEventListener("click", function (event) {
                            event.preventDefault();
                            const text = this.innerText;
                            window.alert(text)
                            const url = "/delete/" + encodeURIComponent(text);
                            this.setAttribute("href", url);
                            window.location.href = url;
                        });
                    });
                </script>
                <script>
                    const anchors = document.querySelectorAll("a.link");
                    anchors.forEach((anchor) => {
                        anchor.addEventListener("click", function (event) {
                            event.preventDefault();
                            const text = this.innerText;
                            const url = "/Sports/" + encodeURIComponent(text);
                            this.setAttribute("href", url);
                            window.location.href = url;
                        });
                    });
                </script>
    </div>
    <div class="grid grid-cols-6">
        <div class="col-start-1 col-span-2">
            <div class="py-3">
                <p class="text-2xl font-semibold text-gray-600">View Reports? <a href="/viewReport"
                        class="text-green-600">View</a></p><br>
                <p class="text-2xl font-semibold text-gray-600">Would you like to sign out? <a href="/"
                        class="text-green-600">Signout</a></p>

            </div>
        </div>
    </div>
</body>

</html>