<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

    <!--CSS File-->
    <style>
        section {
            display: flex;
            width: 100%;
            min-height: 100vh;
        }

        #home {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
                url("https://media.istockphoto.com/id/1248542684/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=6aJX8oyUBsSBZFQUCJDP7KZ1y4vrf-wEH_SJsuq7B5I=");
            background-size: cover;
            background-position: center;
            flex-direction: column;
        }

        .h1 {
            font-family: brush script mt, cursive;
            color: rgb(255, 255, 255);
            font-size: 5.5vw;
            text-align: center;
        }

        .common {
            font-family: arrial;
            color: rgb(250, 250, 250);
            font-size: 1.9vw;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            color: rgb(4, 4, 4);
        }

        body {
            overflow-x: hidden;
        }

        .grid {
            width: 100%;
            display: grid;
            grid-gap: 1%;
            grid-template-columns: 30% 30% 30%;
        }

        .loginInput {
            width: 75%;
            height: 7vh;
            margin: 5px;
            border: none;
            background-color: whitesmoke;
            border-radius: 32px;
        }

        .editOptBtns {
            width: 6%;
            height: 5vh;
            font-size: 1vw;
            font-family: sans-serif;
            border-radius: 32px;
            font-weight: 700;
            letter-spacing: 2px;
            box-shadow: 1px 1px 10px 2px black;
            margin: 5px;
            margin-top: 35px;
        }

        .grid {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 31% 31% 31%;
            grid-gap: 2%;
        }

        .player {
            width: 90%;
            height: 8vh;
            margin-left: 16px;
            margin-top: 15px;
            background-color: transparent;
            border-radius: 32px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.565);
            letter-spacing: 2px;
            word-spacing: 15px;
            font-family: sans-serif;
            display: flex;
        }

        .player:hover {
            background-color: rgb(4, 4, 4);
            letter-spacing: 3px;
            transition: .5s;
        }

        .playerContainer {
            width: 100%;
            height: 50vh;
            margin-top: 15px;
            border-radius: 32px;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: transparent;
        }

        .flex1 {
            width: 100%;
            display: grid;
            grid-template-columns: 70% 30%;
        }

        .flex1 form input {
            width: 70%;
            height: 6vh;
            border-radius: 32px;
            padding: 15px;
            border: 3px solid rgb(5, 5, 5);
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.689);
            margin-right: 5px;
            color: black;
            font-family: sans-serif;
            letter-spacing: 2px;
            font-size: 1.4vw;
        }

        .flex1 form button {
            width: 20%;
            height: 5vh;
            border: 2px white;
            background-color: rgb(0, 197, 0);
            border-radius: 32px;
            color: white;
            font-family: sans-serif;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.689);
            font-weight: 900;
            font-size: 1.4vw;


        }

        .flex1 form button:hover {
            background-color: rgb(0, 150, 0);
            transition: .8s;
        }

        .editOptBtns {
            width: 6%;
            height: 5vh;
            font-size: 1vw;
            font-family: sans-serif;
            border-radius: 32px;
            font-weight: 700;
            letter-spacing: 2px;
            box-shadow: 1px 1px 10px 2px rgb(80, 80, 80);
            margin: 5px;
            margin-top: 30px;
        }

        .block {
            position: absolute;
            width: 27%;
            height: 8vh;
            background-color: transparent;
        }

        .block2 {
            position: absolute;
            width: 27%;
            height: 8vh;
            background-color: transparent;
        }

        #formSignupContainer {
            display: none;
            position: absolute;
            top: 15%;
            left: 35%;
            width: 30vw;
            height: 70vh;
            background-color: #fff;
            border-radius: 32px;
            box-shadow: 1px 1px 6px 1px rgb(255, 254, 254);
        }

        #formSignupContainer input {
            color: black;
        }
    </style>

    <title>Player</title>
</head>

<body>
    <section id="home">
        <h1 class="h1">
            Sports Scheduler
        </h1><br><br>
        <button class="btn btn-danger backButton bg-black border-gray-600" style="
              width: 8%;
              height: 5vh;
              margin: 15px;
              border-radius: 32px;
              box-shadow: 1px 1px 10px 1px rgba(104, 104, 104, 0.608);
              font-weight: 700;
              letter-spacing: 2px;
              font-size: 1.3vw;
            " onclick="">
            Back
        </button>
        <script>
            const BackToSportDetail = document.querySelectorAll("button.backButton");
            BackToSportDetail.forEach((anchor) => {
                anchor.addEventListener("click", function (event) {
                    event.preventDefault();
                    const text = document.querySelector("span.nameOfSport").innerText;
                    const url = "/Sports/n/" + encodeURIComponent(text);
                    this.setAttribute("onclick", `window.location.href='${url}'`);
                    window.location.href = url;
                });
            });
        </script>
        <% if(messages && messages.error && messages.error.length> 0) { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                <p class="alert alert-danger">
                    <%= messages.error[i] %>
                </p>
                <% } %>
                    <% } %>
                        <% if(UserId==getSessionDetail.userId){%>
                            <div class="flex" style="display: flex; width: 100%; flex-direction: row">
                                <h1 class="common" style=" font-family: sans-serif">
                                    <span class="nameOfSport" style="color:white; font-size: larger;">
                                        <%= sessionSportName%>
                                    </span> <span style="color: rgb(175, 170, 170)">Session #</span><span
                                        class="idOfSession" style="color: rgb(175, 170, 170)">
                                        <%= sessionSportId%>
                                    </span>
                                </h1>
                                <a class="btn btn-primary editOptBtns my-2"
                                    onclick="document.getElementById('formSignupContainer').style.display = 'block'">Edit</a>
                                <button class="btn btn-danger editOptBtns my-2 deleteSession" onclick="">Delete</button>
                                <a class="btn btn-success editOptBtns joinedSession my-2" id="joinbtn111"
                                    href="">Join</a>
                                <script>
                                    const joinSession3 = document.querySelectorAll("a.joinedSession");
                                    joinSession3.forEach((anchor) => {
                                        anchor.addEventListener("click", function (event) {
                                            event.preventDefault();
                                            const text = document.querySelector("span.nameOfSport").innerText;
                                            const sessionId = document.querySelector("span.idOfSession").innerText
                                            const url = "/join/n/" + encodeURIComponent(text) + "/" + encodeURIComponent(sessionId);
                                            this.setAttribute("href", url);
                                            window.location.href = url;
                                        });
                                    });
                                </script>
                                <script>
                                    const deleteFullSession = document.querySelectorAll("button.deleteSession");
                                    deleteFullSession.forEach((anchor) => {
                                        anchor.addEventListener("click", function (event) {
                                            event.preventDefault();
                                            const text = document.querySelector("span.nameOfSport").innerText;
                                            const sessionId = document.querySelector("span.idOfSession").innerText
                                            const url = "/Sports/" + encodeURIComponent(text) + "/deleteSession/n/" + encodeURIComponent(sessionId);
                                            this.setAttribute("onclick", `window.location.href='${url}'`);
                                            window.location.href = url;
                                        });
                                    });
                                </script>
                            </div>
                            <br>
                            <p class="mx-5 h4"
                                style="color: rgb(255, 255, 255); font-family: sans-serif; font-weight: 100">
                                Date &#10240;: <%= getSessionDetail.session %>
                            </p>
                            <p class="mx-5 h4"
                                style="color: rgb(255, 255, 255); font-family: sans-serif; font-weight: 100">
                                Place &nbsp;: <%= getSessionDetail.Address %>
                            </p>
                            <div class="container playersContainer">
                                <div class="flex1">
                                    <h2 class="text-2xl m-3 my-4"
                                        style="font-family: sans-serif; color:rgb(93, 198, 23)">
                                        Players <span id="num"
                                            style=" color: rgb(47, 147, 0); font-weight: bold; font-family: 'Stick No Bills', sans-serif">
                                            <%= getPlayersCount %>
                                        </span><span style="color: gray; font-weight: 100;">/</span><span id="limit"
                                            style=" color: rgb(47, 147, 0); font-weight: bold; font-family: 'Stick No Bills', sans-serif">
                                            <%= getSessionDetail.countOfPlayers%>
                                        </span>
                                    </h2>

                                    <form style="float: right;" id="addPlayerForm" action="" method="post"
                                        class="my-4 form1">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                        <input type="hidden" name="availablePlayersCount"
                                            value="<%= (getSessionDetail.countOfPlayers - getPlayersCount) - 1%>" />
                                        <input type="text" name="playerNames" id="" placeholder="Add players">
                                        <button type="submit">Add</button>
                                    </form>
                                    <script>
                                        if (document.getElementById("num").innerText == document.getElementById("limit").innerText) {
                                            document.getElementById("addPlayerForm").style.display = "none"
                                            document.getElementById("joinbtn11").style.display = "none"
                                        }
                                        else {
                                            document.getElementById("addPlayerForm").style.display = "block"
                                        }
                                    </script>
                                </div>
                                <div class="grid">
                                    <% getPlayers.forEach(function(player) { %>
                                        <div class="player">
                                            <div class="block" style="color: transparent;" onclick="">
                                                <%= player.id %>
                                            </div>
                                            <p class="h3 m-2 playerNames" style="color:rgb(255, 255, 255)">
                                                <%= player.playerNames %>
                                            </p>
                                            <p class="h3 m-2" style="color:rgb(212, 19, 19); text-align: right;">remove
                                            </p>
                                        </div>
                                        <% }); %>
                                            <script>
                                                const sessionPage = document.querySelectorAll("div.block");
                                                sessionPage.forEach((anchor) => {
                                                    anchor.addEventListener("click", function (event) {
                                                        event.preventDefault();
                                                        const text = document.querySelector("span.nameOfSport").innerText;
                                                        const id = this.innerText;
                                                        const sessionId = document.querySelector("span.idOfSession").innerText
                                                        const url = "/Sports/" + encodeURIComponent(text) + "/sessionDetail/" + "delete/" +
                                                            encodeURIComponent(id) + "/sessionid/n/" + encodeURIComponent(sessionId);
                                                        this.setAttribute("onclick", `window.location.href='${url}'`);
                                                        window.location.href = url;
                                                    });
                                                });
                                            </script>
                                </div>
                                <% }%>
                                    <% if(UserId !=getSessionDetail.userId){%>
                                        <div class="flex" style="display: flex; width: 100%;flex-direction: row">
                                            <h1 class="common" style="font-family: sans-serif">
                                                <span class="nameOfSport" style="color:white;">
                                                    <%= sessionSportName%>
                                                </span> <span style="color: rgb(175, 170, 170)">Session #</span><span
                                                    class="idOfSession" style="color: rgb(175, 170, 170)">
                                                    <%= sessionSportId%>
                                                </span>
                                            </h1>
                                            <a class="btn btn-success editOptBtns joinedSession my-2" id="joinbtn11"
                                                href="">Join</a>

                                        </div>
                                        <script>
                                            const joinSession2 = document.querySelectorAll("a.joinedSession");
                                            joinSession2.forEach((anchor) => {
                                                anchor.addEventListener("click", function (event) {
                                                    event.preventDefault();
                                                    const text = document.querySelector("span.nameOfSport").innerText;
                                                    const sessionId = document.querySelector("span.idOfSession").innerText
                                                    const url = "/join/n/" + encodeURIComponent(text) + "/" + encodeURIComponent(sessionId);
                                                    this.setAttribute("href", url);
                                                    window.location.href = url;
                                                });
                                            });
                                        </script>
                                        <br>
                                        <p class="mx-5 h4"
                                            style="color: rgb(255, 255, 255); font-family: sans-serif; font-weight: 100">
                                            Date &#10240;:
                                            <span
                                                style="font-family: 'Stick No Bills', sans-serif; color: rgb(255, 255, 255)">
                                                <%= getSessionDetail.session %>
                                            </span>
                                        </p>
                                        <p class="mx-5 h4"
                                            style="color: rgb(255, 255, 255); font-family: sans-serif; font-weight: 100">
                                            Place &nbsp;: <span style="color:white">
                                                <%= getSessionDetail.Address %>
                                            </span>
                                        </p>
                                        <div class="container playerContainer">
                                            <div class="flex1">
                                                <h2 class="text-2xl m-3 my-4"
                                                    style="font-family: sans-serif;color: rgb(58, 190, 18);">
                                                    Players <span id="num"
                                                        style=" color: rgb(47, 147, 0); font-weight: bold; font-family: 'Stick No Bills', sans-serif">
                                                        <%= getPlayersCount %>
                                                    </span><span style="color: gray; font-weight: 100;">/</span><span
                                                        id="limit"
                                                        style=" color: rgb(47, 147, 0); font-weight: bold; font-family: 'Stick No Bills', sans-serif">
                                                        <%= getSessionDetail.countOfPlayers%>
                                                    </span>
                                                </h2>
                                            </div>
                                            <div class="grid">
                                                <% getPlayers.forEach(function(player) { %>
                                                    <div class="player">
                                                        <% if(getUserName.firstName==player.playerNames) { %>
                                                            <div class="block" style="color: transparent;" onclick="">
                                                                <%= player.id %>
                                                            </div>
                                                            <p class="h3 m-2 playerNames">
                                                                <%= player.playerNames %>
                                                            </p>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                height="30" fill="rgb(255, 0, 0,  0.8)"
                                                                class="bi bi-trash-fill" viewBox="0 0 16 16"
                                                                style="margin-left: 200px;margin-top: 15px;color: rgba(255, 0, 0, 0.798);">
                                                                <path
                                                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                            </svg>
                                                            <% } %>
                                                                <% if(getUserName.firstName !=player.playerNames) { %>
                                                                    <div class="block2" style="color: transparent;">
                                                                        <%= player.id %>
                                                                    </div>
                                                                    <p class="h3 m-2 playerNames">
                                                                        <%= player.playerNames %>
                                                                    </p>
                                                                    <% } %>
                                                    </div>
                                                    <%}); %>
                                                        <script>
                                                            const sessionPage2 = document.querySelectorAll("div.block");
                                                            sessionPage2.forEach((anchor) => {
                                                                anchor.addEventListener("click", function (event) {
                                                                    event.preventDefault();
                                                                    const text = document.querySelector("span.nameOfSport").innerText;
                                                                    const id = this.innerText;
                                                                    const sessionId = document.querySelector("span.idOfSession").innerText
                                                                    const url =
                                                                        "/Sports/" +
                                                                        encodeURIComponent(text) +
                                                                        "/sessionDetail/" + "delete/" +
                                                                        encodeURIComponent(id) + "/sessionid/n/" + encodeURIComponent(sessionId);
                                                                    this.setAttribute("onclick", `window.location.href='${url}'`);
                                                                    window.location.href = url;
                                                                });
                                                            });
                                                        </script>
                                            </div>
                                            <% }%>
                                                <div class="container formLogin shadow-lg" id="formSignupContainer">
                                                    <form action="/updateSession/n" method="post">
                                                        <h1 align="center" class="my-3"
                                                            style="color: rgb(4, 4, 4); font-family: sans-serif">
                                                            Update Session
                                                        </h1>
                                                        <svg onclick="closeFormSignup()"
                                                            style="position: absolute;top: 0%;left: 100%;color: white;background-color: red;border-radius: 32px;border: none;"
                                                            id="closeSvg" xmlns="http://www.w3.org/2000/svg" width="26"
                                                            height="26" fill="currentColor" class="bi bi-x-circle"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                            <path
                                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                        </svg>
                                                        <script>
                                                            function closeFormSignup() {
                                                                document.getElementById("formSignupContainer").style.display =
                                                                    "none";
                                                            }
                                                        </script>
                                                        <hr />
                                                        <center>
                                                            <input type="hidden" name="_csrf"
                                                                value="<%= csrfToken %>" />
                                                            <label class="my-3 text-dark">Date: </label>
                                                            <input type="date" name="session"
                                                                placeholder="Enter the session date" id=""
                                                                value="<%= getSessionDetail.session %>"
                                                                class="loginInput p-3" required /><br>
                                                            <label class="my-3 text-dark">Time: </label>
                                                            <input type="time" name="time" placeholder="time" id=""
                                                                class="loginInput p-3"
                                                                value="<%= getSessionDetail.time %>" required /><br>
                                                            <label class="my-3 text-dark">Address: </label>
                                                            <input type="text" name="Address"
                                                                placeholder="where the session will be held" id=""
                                                                class="loginInput p-3"
                                                                value="<%= getSessionDetail.Address %>" required /><br>
                                                            <input type="hidden" class="loginInput p-3"
                                                                placeholder="how many players you need" name="userId"
                                                                id="" value="<%= getSessionDetail.id%>" required />
                                                            <br />
                                                            <label class="my-3 text-dark">Players:</label>
                                                            <input type="number"
                                                                placeholder="how many players do you need"
                                                                class="loginInput p-3" name="numberOfPlayers" id=""
                                                                min="<%= getSessionDetail.countOfPlayers%>"
                                                                value="<%= getSessionDetail.countOfPlayers%>"
                                                                required /><br />
                                                            <input type="checkbox" name="" id="" class="my-3 mx-3"
                                                                required /><label class="my-3 text-dark">I agree to
                                                                update
                                                                this session</label><br />
                                                            <button type="submit" class="btn w-50"
                                                                style="background-color: rgb(41, 149, 19);color: white;font-weight: 600;font-size: 1.7vw;">
                                                                Update
                                                            </button>
                                                            <br /><br />
                                                        </center>
                                                    </form>
                                                </div>
    </section>
</body>

</html>
