<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

    <style>
        section {
            display: flex;
            width: 100%;
            min-height: 100vh;
        }

        .home {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
                url("https://images.pexels.com/photos/6985001/pexels-photo-6985001.jpeg?cs=srgb&dl=pexels-codioful-%28formerly-gradienta%29-6985001.jpg&fm=jpg");
            background-size: cover;
            background-position: center;
            flex-direction: column;
        }

        .h1 {
            font-family: brush script mt, cursive;
            color: rgb(255, 255, 255);
            font-size: 5.5vw;
            text-align: center;
        }

        .common {
            font-family: arrial;
            color: rgb(250, 250, 250);
            font-size: 1.9vw;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
        }

        body {
            overflow-x: hidden;
        }

        #formSignupContainer {
            display: none;
            position: absolute;
            top: 15%;
            left: 35%;
            width: 30vw;
            height: 70vh;
            background-color: #fff;
            border-radius: 32px;
            box-shadow: 1px 1px 6px 1px rgb(255, 254, 254);
        }

        #formSignupContainer input {
            color: black;
        }

        .loginInput {
            width: 75%;
            height: 7vh;
            margin: 5px;
            border: none;
            background-color: whitesmoke;
            border-radius: 32px;
        }

        #loginBtn {
            width: 10%;
            height: 4vh;
            border: 1px solid red;
            background-color: transparent;
            color: white;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 18px;
            padding: 0px;
            box-shadow: 1px 2px 10px 2px rgba(255, 0, 0, 0.556);
            font-family: sans-serif;
        }

        #loginBtn:hover {
            background-color: red;
            transition: 0.8s;
        }

        .grid {
            width: 100%;
            display: grid;
            grid-gap: 1%;
            grid-template-columns: 30% 30% 30%;
        }

        .editOptBtns {
            width: 6%;
            height: 5vh;
            font-size: 1vw;
            font-family: sans-serif;
            border-radius: 32px;
            font-weight: 700;
            letter-spacing: 2px;
            box-shadow: 1px 1px 10px 2px rgb(86, 86, 86);
            margin: 5px;
            margin-top: 35px;
        }

        .block {
            position: absolute;
            width: 100%;
            height: 10vh;
            background-color: transparent;
        }

        #sportEditContainer {
            display: none;
            position: absolute;
            top: 30%;
            left: 35%;
            width: 30vw;
            height: 38vh;
            background-color: #fff;
            border-radius: 32px;
            box-shadow: 1px 1px 6px 1px rgb(255, 254, 254);
            z-index: 2;
        }

        #sportEditContainer input {
            color: black;
        }
    </style>

    <title>
        <%= name%>
    </title>
</head>

<body>
    <section class="home">
        <h1 class="h1">
            Sports Scheduler
        </h1><br><br>
        <div class="flex" style="display: flex; flex-direction: row">
            <h1 style="font-family: sans-serif; margin: 15px; font-size: 4vw" class="nameOfSport">
                <%= name%>
            </h1>
            <a class="btn btn-success editOptBtns" style="width: 6%" onclick="showCreateSessionCard()">Create
            </a>
            <script>
                function showCreateSessionCard() {
                    document.getElementById("formSignupContainer").style.display =
                        "block";
                }
            </script>
            <script>
                const anchors = document.querySelectorAll("a.anchorPrimary");
                anchors.forEach((anchor) => {
                    anchor.addEventListener("click", function (event) {
                        event.preventDefault();
                        const text = document.querySelector("h1.nameOfSport").innerText;
                        const url = "/Sports/" + encodeURIComponent(text) + "/NewSession";
                        this.setAttribute("href", url);
                        window.location.href = url;
                    });
                });
            </script>
        </div>
        <h1 style="
              font-family: sans-serif;
              margin: 0px;
              color: rgb(255, 255, 255);
              font-size: 2vw;
            ">
            Upcoming Sessions
        </h1>
        <div class="grid">
            <% getSportName.forEach(function(user, index) { if (user.session>=
                getDate) { %>
                <div class="card w-100 mx-5 my-3" style="height: 10vh; text-align: center; cursor: pointer">
                    <div class="block" onclick="" style="color: transparent">
                        <%= user.id %>
                    </div>
                    <p class="w-100" style="
                  padding: 10px;
                  height: 10vh;
                  display: flex;
                  align-items: center;
                  color: rgb(14, 208, 208);
                  font-size: 1.6vw;
                  font-weight: 300;
                  font-family: sans-serif;
                ">
                        <%= user.session %>
                            <span style="color: rgb(71, 71, 71)">
                                <%= user.time %>
                            </span>
                            <span style="
                    float: right;
                    color: rgb(255, 0, 242);
                    padding-left: 90px;
                    font-size: 24px;
                  ">
                                <%= user.availablePlayers %> slots
                            </span>
                    </p>
                </div>
                <% }}); %>
                    <script>
                        const sessionPage = document.querySelectorAll("div.block");
                        sessionPage.forEach((anchor) => {
                            anchor.addEventListener("click", function (event) {
                                event.preventDefault();
                                const text = document.querySelector("h1.nameOfSport").innerText;
                                const id = this.innerText;
                                const url = "/Sports/" + encodeURIComponent(text) + "/sessionDetail/n/" + encodeURIComponent(id);
                                this.setAttribute("onclick", `window.location.href='${url}'`);
                                window.location.href = url;
                            });
                        });
                    </script>
        </div>
        <h1 style="font-family: sans-serif;margin-top: 51px;color: rgb(255, 255, 255);font-size: 2vw;">
            Previous Sessions
        </h1>
        <div class="grid">
            <% getSportName.forEach(function(user, index) { if (user.session < getDate) { %>
                <div class="card w-100 mx-5 my-3" style="height: 10vh; text-align: center; cursor: pointer">
                    <div class="block" onclick="window.alert('Session Finished')" style="color: transparent">
                        <%= user.id %>
                    </div>
                    <p class="w-100" style="
                  padding: 10px;
                  height: 10vh;
                  display: flex;
                  align-items: center;
                  color: rgb(11, 225, 233);
                  font-size: 1.6vw;
                  font-weight: 300;
                  font-family: sans-serif;
                ">
                        <%= user.session %>
                            <span style="color: rgb(71, 71, 71)">
                                <%= user.time %>
                            </span>
                            <span style="
                    float: right;
                    color: rgb(214, 0, 0);
                    padding-left: 90px;
                    font-size: 24px;
                  ">Unavailable</span>
                    </p>
                </div>
                <% }}); %>
        </div>
        <div class="container formLogin shadow-lg" id="formSignupContainer">
            <form action="" method="post">
                <h1 align="center" class="my-3" style="color: rgb(8, 8, 8); font-family: sans-serif">
                    New Session
                </h1>
                <svg onclick="closeFormSignup()" style="
                  position: absolute;
                  top: 0%;
                  left: 100%;
                  color: white;
                  background-color: rgb(252, 252, 252);
                  border-radius: 32px;
                  border: none;
                " id="closeSvg" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                    class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
                <script>
                    function closeFormSignup() {
                        document.getElementById("formSignupContainer").style.display =
                            "none";
                    }
                </script>
                <hr />
                <center>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label class="my-3 text-dark">Date: </label>
                    <input type="date" name="session" placeholder="Enter the session date" id="" class="loginInput p-3"
                        required /></br>
                    <label class="my-3 text-dark">Time: </label>
                    <input type="time" name="time" placeholder="time" id="" class="loginInput p-3" required /></br>
                    <label class="my-3 text-dark">Address: </label>
                    <input type="text" name="Address" placeholder="where the session will be held" id=""
                        class="loginInput p-3" required /></br>
                    <input type="hidden" class="loginInput p-3" placeholder="who all are participating" name="userId"
                        id="" value="<%= UserId%>" required />
                    <input type="hidden" class="loginInput p-3" placeholder="who all are participating" name="players"
                        id="" required />
                    <label class="my-3 text-dark">Players: </label>
                    <input type="number" placeholder="how many players do you need" class="loginInput p-3"
                        name="numberOfPlayers" id="" required /><br /></br>
                    <input type="checkbox" name="" id="" class="my-3 mx-3" required /><label class="my-3 text-dark">I
                        agree to create this session</label><br />
                    <button type="submit" class="btn w-50" style="
                    background-color: rgb(17, 182, 34);
                    color: white;
                    font-weight: 600;
                    font-size: 1.7vw;
                  ">
                        Create
                    </button>
                    <br /><br />
                </center>
            </form>
        </div>
        <br><br><button class="btn btn-danger" style="
            width: 8%;
            margin: 15px;
            border-radius: 32px;
            box-shadow: 1px 1px 10px 1px rgba(129, 129, 129, 0.608);
            font-weight: 700;
            font-family: pacifico;
            letter-spacing: 2px;
            font-size: 1.3vw;
          " onclick="window.location.href='/User_Home_Page/n'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="26" fill="white" class="bi bi-arrow-left"
                viewBox="0 0 16 16" style="margin: 4px">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
            Back
        </button>
        <div class="grid grid-cols-6">
            <div class="col-start-1 col-span-2">
                <div class="common">
                    <br>
                    <p class="text-2xl font-semibold text-white">Would you like to sign out? <a href="/"
                            class="text-gray-600">Signout</a></p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
