<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

    <style>
        section {
            display: flex;
            width: 100%;
            min-height: 100vh;
        }

        #home {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
                url("./report.jpg");
            background-size: cover;
            background-position: center;
            flex-direction: column;
        }

        .h1 {
            font-family: brush script mt, cursive;
            color: rgb(245, 251, 247);
            font-size: 5.5vw;
            text-align: center;
        }

        .h2 {
            font-family: lucida handwriting, cursive;
            color: rgb(5, 5, 5);
            font-size: 2.0vw;
            text-align: center;
        }

        .common {
            font-family: arrial;
            color: rgb(243, 172, 7);
            font-size: 1.9vw;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            color: rgb(234, 226, 226);
        }

        body {
            overflow-x: hidden;
        }

        .grid {
            width: 100%;
            display: grid;
            grid-gap: 1%;
            grid-template-columns: 30% 30% 30%;
        }
    </style>

    <title>Admin</title>
</head>

<body>
    <section id="home">
        <h1 class="h1">
            Sports Scheduler
        </h1><br><br>
        <h2 class="h2">
            Welcome Admin
        </h2><br>
        <div class="container-fluid">
            <h1 class="common">
                Available Sports
                <% getSports.forEach(function(user) { %>
                    <p class="text-gray-900" style="color: rgba(255, 253, 253, 0.785)">
                        <%= user.Sports_Name %>
                    </p>
                    <% } ) %>
            </h1>
        </div>
        <div class="container-fluid sessions my-5">
            <h1 class="common">Sessions</h1>
            <div class="flex mx-1" style="display: flex;color: white;">
                <% getSessions.forEach(function(user) { %>
                    <div class="card mx-1" style="width: 18rem">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= user.sportname%>
                            </h4>
                            <p class="card-text text-dark">
                                Session id: <span class="text-gray-900">
                                    <%= user.id%>
                                </span>
                            </p>
                            <p class="card-text text-dark">
                                Session date: <span class="text-gray-900">
                                    <%= user.session%>
                                </span>
                            </p>
                            <p class="card-text text-dark">
                                Session address:
                                <span class="text-gray-900">
                                    <%= user.Address%>
                                </span>
                            </p>
                            <p class="card-text text-dark">
                                Total players:
                                <span class="text-gray-900">
                                    <%= user.countOfPlayers%>
                                </span>
                            </p>
                            <p class="card-text text-dark">
                                Date of creation:
                                <span class="text-gray-900">
                                    <%= user.createdAt%>
                                </span>
                            </p>
                        </div>
                    </div>
                    <% } ) %>
            </div>
        </div>
        <button class="btn btn-danger bg-black" style="
          width: 8%;
          margin: 15px;
          border-radius: 32px;
          box-shadow: 1px 1px 10px 1px rgba(185, 79, 79, 0.608);
          font-weight: 700;
          font-family: sans-serif;
          letter-spacing: 2px;
          font-size: 1.3vw;
        " onclick="window.location.href='/admin'">
            Back
        </button>
        <div class="grid grid-cols-6">
            <div class="col-start-1 col-span-2">
                <div class="common">
                    <p class="text-2xl font-semibold text-gray-600" style="color:white">Would you like to sign out? <a
                            href="/" class="text-gray-600">Signout</a></p>

                </div>
            </div>
        </div>
    </section>
</body>

</html>
